/* CSS untuk tampilan menyerupai terminal */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0f0f0f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"],
button {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    background-color: #333;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 16px);
}

button {
    width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 5px #00ff00;
}
